@font-face {
  font-family: 'Rounded Elegance Regular';
  src: url("../fonts/RoundedElegance-Regular.eot");
  src: url("../fonts/RoundedElegance-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RoundedElegance-Regular.woff") format("woff"), url("../fonts/RoundedElegance-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'COCOMAT Light';
  src: url("../fonts/COCOMAT-Light.eot");
  src: url("../fonts/COCOMAT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/COCOMAT-Light.woff") format("woff"), url("../fonts/COCOMAT-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'COCOMAT Regular';
  src: url("../fonts/COCOMAT.eot");
  src: url("../fonts/COCOMAT.eot?#iefix") format("embedded-opentype"), url("../fonts/COCOMAT.woff") format("woff"), url("../fonts/COCOMAT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.faux-select {
  list-style-type: none;
  background: #fff;
  color: #303030;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  height: 52px;
  cursor: pointer;
  width: 217px;
  display: inline-block;
  position: relative;
}

.faux-select li {
  margin: 0;
  padding: 0;
  position: relative;
}

.faux-select li .options {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.15);
  list-style-type: none;
  background: transparent;
  position: absolute;
  width: 216px;
  max-height: 0px;
  overflow: hidden;
  top: 75px;
  left: 0px;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.faux-select li .options li {
  margin: 0;
  padding: 0;
  height: 66px;
  border-bottom: 1px solid #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.faux-select li .open {
  margin: 0;
  padding: 0;
  background: #fff;
  max-height: 1000%;
  border-bottom: 1px solid #dadada;
}

.faux-select li .open li:hover {
  background-color: #e16f6c;
}

.faux-select li .open li:hover a {
  color: #fff;
}

.faux-select li .open li:hover a span {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  color: #303030;
}

body {
  font-family: 'Rounded Elegance Regular', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1670px;
  margin: 0 auto;
}

.main_menu {
  height: 72px;
  background: #fff;
}

.main_menu a {
  margin: 0 auto;
  padding-bottom: 27px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu li {
  padding-bottom: 27px;
  padding-top: 27px;
}

.main_menu-center {
  height: 72px;
  margin-left: 287px;
}

.main_menu-center input {
  width: 460px;
  height: 34px;
  margin: 19px 0;
  font-size: 20px;
  padding-left: 34px;
  background: url(../img/search.png) 1% no-repeat;
}

.main_menu-center input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #acacac;
}

.main_menu-center input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #acacac;
}

.main_menu-center input::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #acacac;
}

.main_menu-center input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #acacac;
}

.main_menu-left {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu-left .selected-option {
  width: 217px;
  background: url(../img/arrowdrop.png) 90% 55% no-repeat;
  margin-left: 0px;
  border-right: 1px solid #dadada;
}

.main_menu-left .selected-option a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_menu-left .selected-option a span {
  display: contents;
  color: red;
}

.main_menu-left .contact {
  margin-left: 43px;
}

.main_menu-left .helpdesk {
  margin-left: 79px;
}

.main_menu-right {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 300px;
}

.main_menu-right li:first-of-type {
  padding: 27px 30px;
  border-left: 1px solid #dadada;
}

.main_menu-right li:last-of-type {
  padding: 27px 41px;
  border-left: 1px solid #dadada;
}

.main_menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 400;
}

.hero {
  background: url(../img/shutterstock_.png) no-repeat;
  width: 100%;
  height: 574px;
}

.hero_description h1 {
  text-align: right;
  text-transform: lowercase;
  font-size: 200px;
  font-weight: 300;
  margin-right: 160px;
  font-family: 'COCOMAT Light', sans-serif;
  color: #e16f6c;
}

.hero_description p {
  text-align: right;
  font-size: 35px;
  font-weight: 300;
  font-family: 'COCOMAT Light', sans-serif;
  color: #303030;
  margin-top: -55px;
  margin-right: 160px;
}

.hero_description h3 {
  text-align: right;
  margin: 200px 160px 90px 0;
  color: #303030;
  font-size: 22px;
  font-weight: 400;
}

.service_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.service_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service h2 {
  font-variant: small-caps;
  color: #505050;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-top: 126px;
  position: relative;
}

.service h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #e16f6c;
  opacity: 0.43;
  left: 0;
  bottom: 5px;
}

.service_content {
  margin: 0 auto;
}

.service_item {
  width: 23%;
  margin: 65px 0 0 116px;
  display: inline-block;
}

.service_item p {
  margin-bottom: 30px;
  color: #e16f6c;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}

.service_item a {
  display: block;
  line-height: 2;
  color: #303030;
  font-size: 18px;
  font-weight: 400;
}

.service_item a:hover {
  color: #e16f6c;
}

.share_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 17px;
}

.share_title h2 {
  font-variant: small-caps;
  color: #505050;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.share_title h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #04bf8a;
  opacity: 0.43;
  left: 0;
  bottom: 5px;
}

.share_slider {
  width: 1800px;
  margin: 0 -65px;
  height: 462px;
  border: 1px solid #efefef;
  overflow: hidden;
}

.share_slider .arrl {
  top: 20px;
  left: 1661px;
  background: url(../img/arrowl.png) no-repeat;
}

.share_slider .arrr {
  left: 1716px;
  top: -11px;
  background: url(../img/arrowr.png) no-repeat;
}

.share_sliderbar {
  width: 3520px;
  position: relative;
  margin-top: 67px;
  left: 0;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.share_sliderbar img {
  margin-left: 50px;
  width: 390px;
  float: left;
}

.share_sliderbar-button {
  position: relative;
  z-index: 20;
  width: 31px;
  height: 31px;
}

.popsaloon_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 17px;
}

.popsaloon_title h2 {
  font-variant: small-caps;
  color: #505050;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.popsaloon_title h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #ff8c37;
  opacity: 0.43;
  left: 0;
  bottom: 5px;
}

.popsaloon_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1800px;
  margin: 0 -65px;
  height: 462px;
  border: 1px solid #efefef;
}

.popsaloon_slider-item {
  margin-top: 30px;
}

.popsaloon_slider-item img {
  width: 395px;
  height: 325px;
  margin-left: 34px;
}

.popsaloon_slider-item:first-child {
  margin-left: 66px;
}

.popsaloon_slider-item:last-child {
  margin-right: 66px;
}

.popsaloon_slider-item button {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  border: 2px solid #e16f6c;
  background: #fff;
  outline: none;
}

.popsaloon_slider-item button:hover {
  background-color: #e16f6c;
  color: #fff;
}

.popsaloon_slider-item button:active {
  outline: none;
}

.barber_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 17px;
}

.barber_title h2 {
  font-variant: small-caps;
  color: #505050;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.barber_title h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #378cff;
  opacity: 0.43;
  left: 0;
  bottom: 5px;
}

.barber_slider {
  width: 1800px;
  margin: 0 -65px;
  height: 462px;
  border: 1px solid #efefef;
  overflow: hidden;
}

.barber_slider .arrl {
  top: 20px;
  left: 1661px;
  background: url(../img/arrowl2.png) no-repeat;
}

.barber_slider .arrr {
  left: 1716px;
  top: -11px;
  background: url(../img/arrowr2.png) no-repeat;
}

.barber_slider-item {
  margin-top: 32px;
}

.barber_slider-item img {
  width: 395px;
  height: 282px;
  margin-left: 34px;
}

.barber_slider-item button {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  border: 2px solid #e16f6c;
  background: #fff;
  outline: none;
}

.barber_slider-item button:hover {
  background-color: #e16f6c;
  color: #fff;
}

.barber_slider-item button:active {
  outline: none;
}

.barber_sliderbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3520px;
  position: relative;
  left: 0;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.barber_sliderbar img {
  margin-left: 50px;
  width: 390px;
}

.barber_sliderbar-button {
  position: relative;
  z-index: 20;
  width: 31px;
  height: 31px;
}

footer {
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 60px;
  height: 187px;
  -webkit-box-shadow: inset 0 5px 5px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 5px 5px 1px rgba(0, 0, 0, 0.05);
  background-color: #f9f9f9;
}

.footer_info {
  float: left;
  margin: 40px 100px;
  font-size: 18px;
  font-weight: 400;
}

.footer_info a {
  display: block;
}

.footer_info a img {
  margin-left: 10px;
}

.footer_about {
  float: right;
  margin: 20px 99px;
}

.footer_about img {
  margin-right: 10px;
}

.footer_about h5 {
  font-family: 'COCOMAT Light', sans-serif;
  color: #ef767a;
  font-size: 48px;
  font-weight: 400;
}

.footer_about p {
  font-size: 18px;
  font-weight: 400;
}

.footer_about p:first-child {
  color: #303030;
  margin-left: -35px;
}

.footer_about p:last-child {
  color: #acacac;
}
/*# sourceMappingURL=style.css.map */